@model IEnumerable<Liana.Models.User>

@{
    ViewData["Title"] = "ListaUsuarios";
}

@section Styles{
    <link rel="stylesheet" href="~/css/UserList.css" />
}


<h2>List of Users</h2>

<div class="container" style="width:100%">

    @if (Model != null)
    {
        <table id="Table_Users" class="table table-striped" style="width:100%">
            <colgroup>
                <col style="width:33%">
                <col style="width:33%">
                <col style="width:34%">
            </colgroup>
            <thead>
                <tr>
                    
                    <th class="bg-primary text-white fw-normal">
                        @Html.Label("User Name")
                    </th>
                    <th class="bg-primary text-white fw-normal">
                        @Html.Label("Fisrt Name")
                    </th>
                    <th class="bg-primary text-white fw-normal">
                        @Html.Label("Email")
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (User oListItem in Model)
                {
                <tr>
                    <td>@oListItem.UserName</td>
                    <td>@oListItem.FSName</td>
                    <td>@oListItem.Email</td>
                </tr>
                }

            </tbody>
        </table>
    }
    else
    {
        <div style="color:red;"> No Data Found</div>
    }
</div>